@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
.ql-snow .ql-picker, .ql-snow .ql-stroke {
    color: white !important;
    stroke: white !important;
}
.ql-snow .ql-picker-options{
    background-color: black !important;
}
.ql-container {
    min-height: 200px !important;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
    letter-spacing: 0.10rem !important;
}
.ql-toolbar {
    border-radius: 0.5rem 0.5rem 0 0;
}
.ql-editor {
    min-height: 200px !important;
}

.post-content a{
    text-decoration: underline;
    text-underline-offset: 0.25em;
    color: #60A5FAFF;
}
.post-content h1{
    font-size: 2.5em;
}
.post-content h2{
    font-size: 2em;
}
.post-content h3{
    font-size: 1.5em;
}

.comp1 {
    background-image: url("/home.png");
    background-position: 50% 50%;
    background-size: cover;
}
.comp2 .evidence {
    @apply p-1 rounded-lg bg-custom-grey text-white mx-1 text-xl shadow-lg
}

.comp3 {
    background-image: url("/home2.png");
    background-position: 50% 50%;
    background-size: cover;
}